<h2>
	Sign
</h2>

<form action="/visit" method="POST">
  <div class="form-group">
    <label >Your name</label>
    <input id="bbb" type="text" class="form-control" placeholder="Enter your name" name = "name">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
    <label >Your phone</label>
    <input type="text" class="form-control ccc" placeholder="Enter your phone" name = "phone">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
    <label >When we can wait for you</label>
    <input id="waitYou" type="text" class="form-control" placeholder="Enter date and time" name = "datetime">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Select your barber</label>
    <select class="form-control ccc" id="exampleFormControlSelect1" name="barber">
      <option value="" selected disabled>Please select an option...</option>
      <option >Walter Whire</option>
      <option >Jessie Pinkman</option>
      <option >Gus Fring</option>
    </select>
  </div>

<select id="color" name="color">
  <option value="#7bd148">Green</option>
  <option value="#5484ed">Bold blue</option>
  <option value="#a4bdfc">Blue</option>
  <option value="#46d6db">Turquoise</option>
  <option value="#7ae7bf">Light green</option>
  <option value="#51b749">Bold green</option>
  <option value="#fbd75b">Yellow</option>
  <option value="#ffb878">Orange</option>
  <option value="#ff887c">Red</option>
  <option value="#dc2127">Bold red</option>
  <option value="#dbadff">Purple</option>
  <option value="#e1e1e1">Gray</option>
</select>

  
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>